<h1>New</h1>
<%= form_for @blog do |f| %>


    <%= f.label :account_name %>
    <%= f.text_field :account_name %>

    <%= f.label :account_number %>
    <%= f.text_field :account_number %>

    <%= f.label :kind, "Type" %>
    <%= f.text_field :kind %>

  <%= f.submit "Add Blog", class: ''%>
<% end %>
