<div class='container'>
  <%= form_for @blog do |f| %>

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <%= f.label :tags %>
          <%= f.text_field :tags, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control' %>
        </div>
      </div>
    </div>

    <%= f.submit "Add Blog", class: ''%>
  <% end %>
</div>
