<%= render('shared/nav') %>

<section id="intro">
  <br>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
  </div>

  <div class="center-text">
    <h5>Welcome To My Site!</h5>
    <h1>It's Nice To Meet You</h1>
  </div>
</section>

<section class="picture">
  <div class="profile-img">
    <%= image_tag('https://dl.dropboxusercontent.com/s/93253ko0dwby551/me.jpg?dl=0') %>
  </div>
</section>

<section id="about" class="row">
  <div class="container">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
      <p class="text-center">
        Hello my name is Kevin Finley. I was raised on my family's farm. Working on the farm I have learned what hard work and dedication was at a young age. In middle and high school, I had a few part time jobs. I moved to Portland from Montana for better job opportunities and to be close with my brother. His partner recommended me to a local boot camp called Epicodus. I took the Ruby on Rail course. I am super excited to apply what I have obtained from Epicodus and keep learning!
      </p>
      <hr>
      <h1 id="top-pad" class="text-center">My Journey</h1>

      <p>
        When I was in middle school everyone in my class had to do a science project. I wasn't interested in plants, animals, or chemicals. So, I asked my middle school teacher for any suggestions. Unfortunately she would not give me any suggestions. During the lunch period I ran into the high school science teacher (which was my wrestling coach). He knew I like computers so he recommended me a website filled with computer science topics for me. I saw this link called "Coding an Alphabetizer" and next to it, in bold said "HARD". I don't remember what the description was but the goal was for letters and words to be in alphabetical order.
      </p>

      <p>
        My middle school teacher tried to discourage me from it. After three days of sweet talking, she gave me the okay. I had a month to work on this project. So the first two weeks I was learning HTML and CSS. You are probably going to get a kick out of this, the text editor I chose was Notepad on windows. Then for the remaining time I was learning JavaScript. Throughout the project I realized I had an interest in coding.
      </p>

      <p>
        When we presented our projects, my middle school teacher was amazed that I had a working application. So, after explaining my code to three judges. I placed in third so that meant I got a blue ribbon then moved on state. After state, I did not pursue coding but right after graduating high school I moved to Portland and attended to Epicodus!
      </p>
      <div id="top-pad" class="text-center">
        <hr>
        <h1>Showcase Projects</h1>
      </div>
    </div>
  </section>

  <%= render('contacts/projects') %>

  <section id="top-pad" class="row">
    <div class="container">
      <div class="col-lg-8 offset-lg-2 text-center">
        <hr>
        <h1>Work Experience</h1>
      </div>
    </div>
  </section>


  <%= render('contacts/time-line') %>

  <%= render('contacts/footer') %>
